@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 59 130 246;
    --background: 15 17 21;
    --surface: 22 25 32;
    --border: 30 41 59;
    --text-main: 248 250 252;
    --text-muted: 148 163 184;
  }
}

/* Força a aplicação global das variáveis personalizadas */
body {
  background-color: rgb(var(--background));
  color: rgb(var(--text-main));
}